h2:hover {
  /*:hover is a pseudo selector*/
  color: red;
}

/* .subtitle {
  color: blue;
} */

/* Attribute selector  syntax tag[attr = value]{};
After writinf this the hover is not working*/
h2[class="subtitle"] {
  color: blue;
}

#services {
  color: green;
}

/* first child doesn't work with ul

 li:first-child {
  
  color: steelblue;
} */

/* li:only-child {
  color: magenta;
} */

/*li:last-child {
  
  color: steelblue;
} */

/* when nth child method is used , we cannot use :first-child or :last-child methods*/
/* li:nth-child(4) {
  color: steelblue;
} */

/* There are some changes which can be styled before you visit a link and after you visit a link */
/* #google-link:link {
  color: blue;
}

#google-link:visited {
  color: red;
} */
/* .title { 
  color: red;
}

#contact-us {
  color: green;
}

*/

/* advance selector --- 1.>set style to a tag followed by h2 element */
h2 + a {
  color: red;
}

/* sibling selector(part of advanced selector)----elements must belong to a single parent, taking example of form element  */

textarea ~ button {
  color: purple;
}

/* trial selector , taking example of ul  and li*/
/* for the code to work we must focus on their specificity, ie, li with pseudo selector is more
specific than trial selector , so we need to comment those */
ul > li {
  color: blue;
}

ol > li {
  color: red;
}

/* descendant selector 
ul li {
  color: red;
} */

/* attribute selector */

/* if the file name starts with ../img  
img[src^="../img/"] {
  border: 10px solid black;
} */

/* if the file name cosists of  ../img anywhere   */
img[src*="../img/"] {
  border: 10px solid black;
}

/* Whitespace selector */
h2[class~="article-subtitle"] {
  background-color: grey;
  border: 10px solid green;
}
