/* This css file is basically for colors and gradients topics*/
body {
  /* here 0.5 is opacity or transparency */
  background: linear-gradient(
    to bottom,
    rgb(224, 229, 255),
    rgba(224, 229, 255, 0.4)
  );
  /* background-image: url("../img/img-2.jpg"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
}

#title {
  /* text colors */
  color: rgb(186, 133, 9);
  /* background: rgb(94, 94, 94); */
}

.subtitle {
  /* text colors */
  color: rgb(200, 148, 30);
  /* background: rgb(94, 94, 94); */
}

#service-image {
  height: 400px;
  width: 70%;
  /* background-image: url("../img/img-2.jpg"); */

  /* --------------- explanation related to gradient.There are two types of gradients .They are radial gradients and linear gradients */
  /* syntax---->Linear-gradient(top,bottom,left ,right) */
  /* background: linear-gradient(to right, rgb(168, 54, 50), rgba(168, 85, 50, 0)); */
  /* background: linear-gradient(to top, rgb(168, 54, 50), rgba(168, 85, 50, 0)); */
  /*for diagnally positioning gradient  */
  /* background: linear-gradient(
    to bottom right,
    rgb(168, 54, 50),
    rgba(168, 85, 50, 0)
  ); */
  /* for inverting the color that is from right to  top left  */
  /* background: linear-gradient(-90deg, rgb(168, 54, 50), rgba(168, 85, 50, 0)); */

  /* -----for radial gradient */
  /* background: radial-gradient(red, blue, green); */
  /* specifying the percentages for the color  in radial gradient*/
  /* background: radial-gradient(red 40%, blue 55%, green 10%); */
  /* specifying the shape for the radial gradient */
  background: radial-gradient(circle, red 40%, blue 55%, green 10%);
  background-repeat: no-repeat;
  background-size: cover;
}
