body {
  /* here 0.5 is opacity or transparency */
  background: rgba(204, 229, 255, 0.5);
  /* background-image: url("../img/img-2.jpg"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
}

#title {
  /* text colors */
  color: rgb(186, 133, 9);
  /* background: rgb(94, 94, 94); */
}

.subtitle {
  /* text colors */
  color: rgb(200, 148, 30);
  /* background: rgb(94, 94, 94); */
}

#service-image {
  height: 400px;
  width: 70%;
  /* background-image: url("../img/img-2.jpg"); */
  /* this is explanation related to gradient.There are two types of gradients .They are radio gradients and linear gradients */
  /* syntax---->Linear-gradient(top,bottom,left ,right) */
  /* background: linear-gradient(to right, rgb(168, 54, 50), rgba(168, 85, 50, 0)); */
  /* background: linear-gradient(to top, rgb(168, 54, 50), rgba(168, 85, 50, 0)); */
  /*for diagnally positioning gradient  */
  background: linear-gradient(
    to bottom right,
    rgb(168, 54, 50),
    rgba(168, 85, 50, 0)
  );
  background-repeat: no-repeat;
  background-size: cover;
}
