body {
  /* here 0.5 is opacity or transparency */
  background: rgba(204, 229, 255, 0.5);
  /* background-image: url("../img/img-2.jpg"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
}

#title {
  /* text colors */
  color: rgb(186, 133, 9);
  /* background: rgb(94, 94, 94); */
}

.subtitle {
  /* text colors */
  color: rgb(200, 148, 30);
  /* background: rgb(94, 94, 94); */
}

#service-image {
  height: 400px;
  width: 70%;
  background-image: url("../img/img-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
